@media (max-width: 1200px) {
    .logo-side-ad, .header-date { display: none; }
    .social-list { float:left !important }
}

@media (max-width: 768px) {
    .tt-el-ticker {
        display: none;
    }
.header-member { float:left !important; margin: 5px 0 }
}

#header .panel-ticker .tt-el-ticker {
    margin: 10px 0;
}

#portal-globalnav {
    float:left;
}

.social-list {
    float:right;
}

.social-list i.fa {
    font-size:45px;
    margin:10px 5px;
    color:#ff5;
}

.social-list .white i {
    color:#fff;
}

.social-list div {
    margin-left: 30px;
}

.fastest-news, #header .panel-ticker .tt-el-ticker strong.fastest-news {
    color:#e84244;
}

.site-logo {
    margin: 15px 0 0 0;
}

.logo-side-ad div {
    max-width: 450px;
    margin:12px 0 0 10px;
}

.header-date {
    margin: 10px auto 0px auto;
    line-height: 25px;
}

.header-date span {
    float:right;
    padding: 0px 25px;
}

.header-member {
    margin-top: 35px;
    line-height: 25px;
}

#header nav.main-nav {
    padding-top: 0px;
    padding-bottom: 0px;
    border-bottom: initial;
}

#header nav.main-nav > ul > li > a {
    color: #fff;
}

.ms-tabs.ms-dir-v .ms-thumb-frame {
    margin-left: 5px;
}

.typed-cursor {
    display:none;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    background-color: #e84244;
    color: #fff;
}

.sidebar ul.nav {
    border-bottom: 1px solid #e84244;
}

.sidebar ul.nav {
    margin-bottom: 12px;
}

.nav > li > a {
    padding: 10px 8px;
}

ul.nav.nav-tabs li a:before, ul.nav.nav-pills li a:before {
    content: initial;
}

.ms-tabs .ms-thumb-frame {
    border: initial;
}

.news-slider .ms-tabs .ms-thumb-frame, .news-slider{
    background-color: #ddd;
    margin-bottom: 0px;
}

.slider-b {
    padding:30px 0;
    background-color: #ddd;
    margin-bottom:50px;
}

.news-slider .ms-thumb h4 {
    color: #444;
}

.news-slider .ms-thumb h4:before, .widget ul li a:before {
    content: "\f105";
    margin-right: 5px;
    font-family: Fontawesome;
}

.widget ul li a:before {
    content: "\f0da";
}


img.hot-news-main-img {
    max-height: initial !important;
}

.category-area {
    margin-bottom: 20px;
}

.category-title.title-border {
    margin-bottom: 10px;
}

.category-block {
    margin-bottom: 5px;
}

.category-block .post p, .category-block .post h6 a {
    font-size: 16px;
    line-height: 25px;
}

.post .image-listing250 {
    float: left;
    max-width: 250px;
    max-height: 250px;
    margin-right: 20px;
    overflow: hidden;
}

.post .image-listing250 img {
    width: 250px;
}

.post .image-listing {
    float: left;
    max-width: 160px;
    max-height: 160px;
    margin-right: 20px;
    overflow:hidden;
}

thead {
    background-color: #bbf;
}

.even {
    background-color: #ccc;
}

.push-menu.pm-news .pm-container .pm-wrap::before {
    background-image: initial;
 }

.rwd-menu-logo img{
    max-width: 100%;
    margin: 0 0 50px 0;
}

.pagination>li>a:hover, .pagination>li>span:hover {
    background: #a49b94;
    border-color: #e79800;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #e84244;
    border-color: #e84244;
}

.pagination>li>a:focus, .pagination>li>span:focus {
    color: #fff;
    background:#e84244;
}

.pagination>li>a, .pagination>li>span {
    color: #888;
    margin-left:0px;
}

.master-slider h4.animate-element, .ms-layer.box p {
    padding-left: 15px;
}

.ms-layer.box p, .master-slider h4.animate-element a {
    color:#fff;
    padding-bottom:5px;
}

.news-slider .ms-tabs.ms-dir-v.ms-align-right .ms-thumb-frame-selected .ms-thumb-ol {
    height: 3px;
    position: inherit;
}

.news-slider .thumb-meta {
    position: initial;
}

#footer {
    padding: 30px 0;
}

.title-border {
    padding: 0 20px 12px 0;
    margin-bottom: 30px;
    border-bottom: 4px solid rgba(232, 66, 68, 0.9);
}

.post.hover-light {
    height: 110px;
    overflow: hidden;
}

.theme-cover-span {
    border: initial;
    padding: 4px;
    text-align: center;
}

#edit-zone {
    z-index: 1001;
}

#header nav.main-nav > ul > li:first-child:not(.menu-item-has-children) > a {
    padding-left: 10px;
}

.current-menu-item {
    background-color:#e84244;
}

.panel-menu {
    background-color: rgba(30, 30, 30,0.9);
}

#header .panel-header {
    background-color: #fff;
}

#header nav.main-nav > ul > li.menu-item-mega .mega-menu-lists a:hover {
    background-color: initial;
    color: #333;
}

#header nav.main-nav > ul > li ul {
    background-color: rgba(232, 66, 68, 0.9);
    margin-top: initial;
}

#header nav.main-nav > ul > li::after {
    background-color: rgba(232, 66, 68, 0.95);
    height:calc(100%);
}

#header nav.main-nav > ul > li.menu-item-mega {
    padding-top: 10px;
    padding-bottom: 10px;
    border-right:solid thin #444;
    float:left;
}

#header nav.main-nav > ul > li.menu-item-mega:last-child {
    border-right:initial;
}

#header nav.main-nav > ul > li.menu-item-mega > a {
    font-size: 20px;
}

#header nav.main-nav > ul > li.menu-item-mega .mega-menu-lists a {
    padding-top: initial;
}

#content-core img {
    max-width: 100%;
}

.portaltype-news-item #content-core {
    font-size: 18px;
}

.post.first.hover-dark div.image img {
    max-height: 200px;
    overflow: hidden;
}

.news-slider .box {
    background: rgba(0, 0, 0, 0.6);
    left: -3px;
    width: 100%;
    bottom: -3px;
    padding: 15px 30px 3px 4px;
}

.plone-breadcrumb ol {
    display: inline-block;
    padding: 8px 0;
    list-style: none;
    margin: 0;
}

.plone-breadcrumb ol > li {
    font-weight: 400;
    display: inline-block;
    line-height: 0;
    position: relative;
}

.plone-breadcrumb ol > li + li:before
{
    content:">";
    padding: 0 10px;
}

#header .header-wrapper .site-branding {
  bottom:initial;
  margin-top:20px;
}

#header .header-wrapper .site-branding img {
  width: initial;
  height: initial;
}

#header .header-wrapper .site-branding h3 {
  margin:5px 0;
}
