@media (max-width: 1200px) {
    .logo-side-ad, .header-date { display: none; }
    .header-member {font-size:12px;}
    .social-list { float:left !important; }
    .news-slider .box h4 { font-size: 18px;}
}

@media (max-width: 768px) {
    .tt-el-ticker { display: none; }
    .header-member { float:left !important; margin: 5px 0 }
    .social-list i.fa { font-size: 25px !important;}
    #header nav.main-nav > ul > li.menu-item-mega > a { font-size:16px !important;}
    .slider-b { margin-top: 30px; padding:15px 15px 5px 15px !important;}
    .slider-b p { display: none }
    .normal_slider .normal_slider_item { max-height:250px !important; }
}

@media(max-width: 640px) {
    .live_slider .owl-carousel-12 .owl-stage-outer { height: 200px !important; }
    .live_slider .owl-carousel-12 .owl-nav {top: 80px !important; }
    #header nav.main-nav > ul.plone-nav { display: none;}
    .user-profile { display:none; }
}

@media(min-width: 640px) {
    #header nav.main-nav .burger-menu.pm-right { display: none;}
}

@media (max-width: 480px) {
    .listing_with_mini h4 { font-size: 22px !important; line-height: 24px;}
    .listing_with_mini p { display: none; }
}

/* above is @media's css setting */

/* Tabs for Views begin */
.views_tabs ul.nav { border-bottom: 1px solid #e84244; }
.views_tabs ul.nav { margin-bottom: 12px; }
.views_tabs .tab-content ul { padding: 0 10px; margin-bottom: 40px;}
.views_tabs ul li { list-style-type: none; }
.views_tabs ul li a:before { content: "\f0da"; font-family: Fontawesome; margin-right: 5px;}
/* Tabs for Views end */

/* Live program begin */
.live_program { height: 250px; overflow: auto; padding:5px; abackground-color:#ddd; margin:5px 0 20px 0;}
.live_program h4 { padding:15px 10px; background-color:#aaa; margin-bottom:0; font-size:16px}
.live_program tr { border-bottom: solid 1px #e84244;}
.live_program tr.odd { background-color: #CCE3F4;}
.live_program tr.even { background-color: #ddd;}
.live_program td { padding: 5px 8px; line-height:18px }
.live_program .time { border-right:solid 1px #e84244;}
.program-h4 { margin:20px 0 5px 15px;}
/* Live program end */

/* Live slider begin */
.live_slider .owl-carousel-6 .owl-stage-outer { height: 200px; }
.live_slider .owl-carousel-12 .owl-stage-outer { height: 230px; }

.live_slider .owl-carousel-6 .owl-nav { position: absolute; top: 80px; width:100%}
.live_slider .owl-carousel-12 .owl-nav { position: absolute; top: 80px; width:100%}
.live_slider .owl-nav .owl-prev { float: left; color:#e84244; background:initial }
.live_slider .owl-nav .owl-prev:hover {background:initial}
.live_slider .owl-nav .owl-next { float: right; color:#e84244; background:initial }
.live_slider .owl-nav .owl-next:hover {background:initial}
.live_slider .owl-dots { margin-top: 10px}
.live_slider .owl-carousel-6 .live-item-title, .live_slider .owl-carousel-12 .live-item-title {
    color:#fff;
    position: absolute;
    top: 0px;
    padding: 5px 10px;
    width: 100%;
    background: rgba(0,0,0,0.7)
}
/* Live slider end */

/* normal slider begin */
.normal_slider .owl-nav { position: absolute; bottom: 70px; width:100% }
.normal_slider .owl-nav .owl-prev { float: left; color:#e84244; background:initial }
.normal_slider .owl-nav .owl-prev:hover {background:initial }
.normal_slider .owl-nav .owl-next { float: right; color:#e84244; background:initial }
.normal_slider .owl-nav .owl-next:hover {background:initial }
.normal_slider .owl-dots { margin-top: 10px }
.normal_slider .normal_slider_item { max-height:500px; overflow:hidden; }
.normal_slider .normal-item-title {
    margin: 0;
    color:#fff;
    position: absolute;
    bottom: 0px;
    padding: 10px 20px;
    width: 100%;
    background: rgba(0,0,0,0.7)
}
/* normal slider end */



/* listing-view begin */
.listing-view .category-block {
    box-shadow:3px 3px 3px #ccc;
    border:solid 1px #e84244;
    margin: 5px 0;
}

.listing-view .image-listing250 {
    max-width: 100%;
    max-height: 250px;
    overflow: hidden;
}

.listing-view .entry.category-block.articles { padding: 10px 0; }
.listing-view .image-listing250 img { width: 100%;}
.listing-view .image { margin-bottom: 10px; margin-right:auto; margin-left:auto; }

/* listing-view end */


/* categories_listing begin */
.categories_listing .category-area {
    box-shadow:3px 3px 3px #ccc;
    border:solid 1px #e84244;
}
.categories_listing .category-area h4 {margin:20px 0 10px 20px}
.categories_listing li { list-style-type:none }
.categories_listing li h5:before{content:'\f101'; font-family: Fontawesome; margin-right:5px;}
.categories_listing .category-area { margin-bottom: 10px; margin-top: 10px; }

/* categories_listing end */


/* item_listing begin */
.item_listing .category-block {
    box-shadow:3px 3px 3px #ccc;
    border:solid 1px #e84244;
    margin: 5px 0;
    padding-top: 6px;
    padding-bottom: 2px;
}
.item_listing .category-block .image, .item_listing .category-block.articles .first.post, .item_listing .category-block .post {
    margin: 0 10px 0 2px;
}

.item_listing .post .image-listing {
    margin-bottom:3px;
    max-width: 20%;
    max-height: 160px;
    overflow:hidden;
}

.item_listing .item-content { padding-bottom: 5px; }
/* item_listing end */

.fastest-news-title a {
    font-size:14px;
}

/* Listing with mini */
.listing_with_mini .image.image-thumb {
    width: 120px;
    height: 120px !important;
    margin-top: 5px;
    margin-left: 5px;
}

.listing_with_mini h4 {
    font-size:16px;
    padding-top: 8px;
}

.listing_with_mini .post p {
    font-size:14px;
    line-height: 20px;
    padding-right: 6px;
}

.listing_with_mini .meta {
    position:absolute; 
    width:100%;
    bottom:0px;
    padding-right:3px;
}

.listing_with_mini .meta {
    margin-right:initial;
}

.listing_with_mini .post.hover-light {
    box-shadow:3px 3px 3px #ccc;
    border: solid 1px #e84244;
}

.category-title {
    margin: 30px 0;
    border-bottom: 4px solid #666;
    padding-bottom:5px;
}

.category-title span {
    padding: 0 5px;
    color: #fff;
    background-color: #e84244;
}

div.sidebar {
    margin-top: -40px;
}

#header .panel-ticker .tt-el-ticker {
    margin: 10px 0;
}

#portal-globalnav {
    float:left;
}

.social-list {
    float:right;
}

.social-list i.fa {
    font-size:39px;
    margin:15px 5px 12px 5px;
    color:#ff5;
}

.social-list .white i {
    color:#fff;
}

.social-list .white a {
    color: #fff;
    font-size: 26px;
    margin: 0 5px ;
    padding: 0 5px;
    border: 1px solid;
}

.social-list div {
    margin-left: 30px;
}

.fastest-news, #header .panel-ticker .tt-el-ticker strong.fastest-news {
    color:#e84244;
}

.site-logo {
    margin: 15px 0 0 0;
}

.logo-side-ad div {
    max-width: 450px;
    margin:12px 0 0 10px;
}

.header-date {
    margin: 10px auto 0px auto;
    line-height: 25px;
}

.header-date span {
    float:right;
    padding: 0px 25px;
}

.header-member {
    margin-top: 35px;
    line-height: 25px;
}

#header nav.main-nav {
    padding-top: 0px;
    padding-bottom: 0px;
    border-bottom: initial;
}

#header nav.main-nav > ul > li > a {
    color: #fff;
}

.ms-tabs.ms-dir-v .ms-thumb-frame {
    margin-left: 5px;
}

.typed-cursor {
    display:none;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    background-color: #e84244;
    color: #fff;
}

.sidebar ul.nav {
    border-bottom: 1px solid #e84244;
}

.sidebar ul.nav {
    margin-bottom: 12px;
}

.nav > li > a {
    padding: 10px 8px;
}

ul.nav.nav-tabs li a:before, ul.nav.nav-pills li a:before {
    content: initial;
}

.ms-tabs .ms-thumb-frame {
    border: initial;
}

.news-slider .ms-tabs .ms-thumb-frame, .news-slider{
    background-color: #ddd;
    margin-bottom: 8px !important;
}

.slider-b {
    padding:15px 0 5px 15px;
    background-color: #ddd;
    margin-bottom:50px;
}

.news-slider .ms-thumb h4 {
    color: #444;
}

.news-slider .ms-thumb h4:before, .widget ul li a:before {
    content: "\f105";
    margin-right: 5px;
    font-family: Fontawesome;
}

.news-slider .box p {
    font-size: 16px;
}

.widget ul li a:before {
    content: "\f0da";
}


img.hot-news-main-img {
    max-height: initial !important;
}

.category-title.title-border {
    margin-bottom: 10px;
}

.category-block {
    margin-bottom: 5px;
}

.category-block .post h6 a {
    font-size: 16px;
    line-height: 25px;
}

.post .image-listing250 img {
    width: 250px;
}

thead {
    background-color: #bbf;
}

.even {
    background-color: #ccc;
}

.push-menu.pm-news .pm-container .pm-wrap::before {
    background-image: initial;
 }

.rwd-menu-logo img{
    max-width: 100%;
    margin: 0 0 50px 0;
}

.pagination>li>a:hover, .pagination>li>span:hover {
    background: #a49b94;
    border-color: #e79800;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #e84244;
    border-color: #e84244;
}

.pagination>li>a:focus, .pagination>li>span:focus {
    color: #fff;
    background:#e84244;
}

.pagination>li>a, .pagination>li>span {
    color: #888;
    margin-left:0px;
}

.master-slider h4.animate-element, .ms-layer.box p {
    padding-left: 15px;
}

.ms-layer.box p, .master-slider h4.animate-element a {
    color:#fff;
    padding-bottom:9px;
}

.news-slider .ms-tabs.ms-dir-v.ms-align-right .ms-thumb-frame-selected .ms-thumb-ol {
    height: 3px;
    position: inherit;
}

.news-slider .thumb-meta {
    position: initial;
}

#footer {
    padding: 30px 0;
}

.title-border {
    padding: 0 20px 12px 0;
    margin-bottom: 30px;
    border-bottom: 4px solid rgba(232, 66, 68, 0.9);
}

.post.hover-light {
    height: 130px;
    overflow: hidden;
}

.theme-cover-span {
    border: initial;
    padding: 4px;
    text-align: center;
}

#edit-zone {
    z-index: 1001;
}

#header nav.main-nav > ul > li:first-child:not(.menu-item-has-children) > a {
    padding-left: 10px;
}

.current-menu-item {
    background-color: #f9fa50;
}

.panel-menu {
    background-color: rgba(30, 30, 30,0.9);
}

#header .panel-header {
    background-color: #fff;
}

#header nav.main-nav > ul > li.menu-item-mega .mega-menu-lists a:hover {
    background-color: initial;
    color: #333;
}

#header nav.main-nav > ul > li ul {
    background-color: rgba(232, 66, 68, 0.9);
    margin-top: initial;
}

#header nav.main-nav > ul > li::after {
    background-color: rgba(232, 66, 68, 0.95);
    height:calc(100%);
}

#header nav.main-nav > ul > li.menu-item-mega {
    padding-top: 10px;
    padding-bottom: 10px;
    border-right:solid thin #444;
    float:left;
}

#header nav.main-nav > ul > li.menu-item-mega:last-child {
    border-right:initial;
}

#header nav.main-nav > ul > li.menu-item-mega > a {
    font-size: 20px;
}

#header nav.main-nav > ul > li.menu-item-mega .mega-menu-lists a {
    padding-top: initial;
}

#content-core img {
    max-width: 100%;
}

.portaltype-news-item #content-core {
    font-size: 18px;
}

.post.first.hover-dark div.image img {
    max-height: 200px;
    overflow: hidden;
}

.news-slider .box {
    background: rgba(0, 0, 0, 0.6);
    left: -3px;
    width: 100%;
    bottom: -3px;
    padding: 15px 30px 3px 4px;
}

.plone-breadcrumb ol {
    display: inline-block;
    padding: 8px 0;
    list-style: none;
    margin: 0;
}

.plone-breadcrumb ol > li {
    font-weight: 400;
    display: inline-block;
    line-height: 0;
    position: relative;
}

.plone-breadcrumb ol > li + li:before
{
    content:">";
    padding: 0 10px;
}

#header .header-wrapper .site-branding {
  bottom:initial;
  margin-top:20px;
}

#header .header-wrapper .site-branding img {
  width: initial;
  height: initial;
}

#header .header-wrapper .site-branding h3 {
  margin:5px 0;
}

.ebook-cover { height: 160px; overflow:hidden }
.category-title.ebook { margin: 5px; border-bottom: 2px solid #666; padding-bottom:5px; }
.category-title.ebook span {padding:3px 5px}

.portletHeader {
    font-size: 18px;
    font-weight: bold;
    padding: 0 0 5px 0;
    margin-bottom: 0px;
}

footer .categories { font-size: 18px; margin-top:30px}
#relatedItemBox { font-size: 18px }
#relatedItemBox h3 { margin: 15px 0 }
#relatedItemBox ul { padding-left: 10px }
#relatedItemBox ul li { list-style-type: none; margin-bottom: 10px}
#relatedItemBox ul li a:before { content: "\f105"; font-family: Fontawesome; margin-right: 0px;}


/* submenu begin */
.row.submenu { 
/*    background-color: rgba(232, 66, 68, 0.9); */
    background-color: rgba(249, 250, 80, 1);
    padding:15px 0 15px 15px;
    box-shadow:4px 4px 4px #ccc;
/*    border:solid 1px #e84244; */
    border:solid 1px #f9fa50;
    margin-bottom:15px;
    color: #666;
}
.row.submenu span { margin: 0 3px 0 5px; }
.row.submenu a { white-space:nowrap; color: #666; }
.row.submenu a.current { font-weight: bold; color:#e84244;}
#portal-globalnav .current-menu-item.menu-item-mega > a { color: #000; }
/* submenu end */

.margin-line {margin:20px 0}
